.machine-details {
  padding: 20px;
  background-color: #EBE6D6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.machine-details h1, .machine-details h2 {
  margin-bottom: 20px;
}